    <!-- navbar -->
    <navbar>Loading...</navbar>    


    <!--
     Header Splash
     ====================================== -->
    <header id="top" class="header header_top-bg header-wrap" style="height:100%; min-height:500px;">
        <div style="height:100vh;min-height:550px; max-height:800px; vertical-align:center;">
            <object data="img/ttt-transparent.svg" style="height:50vw;min-height:50px;max-height:300px;" type="image/svg+xml" ></object>
            <h1 width="80%">Phi Sigma Kappa</h1>
            <h3> Massachusetts Institute of Technology </h3>
            <h3> Omicron Chapter </h3>
            <br>
            <a class="btn btn-red btn-lg" href="#rush">Rush Schedule</a>
            <a class="btn btn-red btn-lg" href="#history">Learn About Us</a>
            <a class="btn btn-red btn-lg" href="#contact">Contact Us</a>
            
        </div>
    </header>


    <!--
     Rush
     ====================================== -->
    <section id="rush" >

        <!-- red background -->
        <div class="rush">
            <!-- COUNTDOWN -->
            <div id="rush-countdown" class="container">
                 <div class="countdown_wrap" width="50vw">
                    <h2 class="countdown_title text-center section-title">RUSH</h2>
                    <div style="text-align: center;font-size:40px; padding-bottom: 40px;">Check back in on Saturday morning <br/> to see what we have planned!</div>
                </div>
            </div>

            <!-- SCHEDULE -->
            <script>
                <div class="container"  id="rush-schedule">
                    <div class="section-title" style="margin-top:10px;">
                        <h2>RUSH SCHEDULE</h2>
                        
                    </div>

                    <div class="countdown_wrap" width="50vw">
                        <div class="row" style="text-align: center;font-size:40px; padding-bottom: 40px;">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">
                                Contact Andres at <b>787-459-1434</b> to get a van sent to pick you up from wherever you are
                            </div>
                            <div class="col-sm-2">
                            </div>
                        </div>
                    </div>

                    <div class="nav-center">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                            <li role="presentation" class="active"><a href="#saturday" aria-controls="tab" role="tab" data-toggle="tab">Saturday</a></li>
                            <li role="presentation"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="tab">Sunday</a></li>
                            <li role="presentation"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab">Monday</a></li>
                            <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
                            <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab">Wednesday</a></li>
                        </ul>

                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content" width="50%">

                        <!-- ########## Schedule Timeline DAY 01 Starts ########### -->

                        <div role="tabpanel" class="tab-pane active" id="saturday">
                             <section class="timeline">

                                 <!-- ###### House Tours -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2 >House Tours</h2>
                                        <p> Come tour the historic Phi Sig house and grab a bite to eat in the heart of Kenmore Square. </p>
                                        <span class="date"><b>12:30 PM</b></span>
                                    </div>
                                </div>

                                <!-- ###### Steakhouse -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Phi Sig Steakhouse</h2>
                                        <p>Come enjoy a juicy steak, fresh off the grill. Not hungry? Show us your PS4 skills or come toss a football with us until dark.</p>
                                        <span class="date"><b>05:00 PM</b></span>
                                    </div>
                                </div>

                                <!-- ####### Grafiti Party -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Graffiti Party</h2>
                                            <p> GRAFFITI is back. Now with twice as many glow sticks, highlighters, and bass. </p>
                                            <span class="date"><b>10:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- ########## Schedule Timeline DAY 02 Starts ########### -->

                        <div role="tabpanel" class="tab-pane" id="sunday">
                             <section class="timeline">

                                 <!-- ###### Fraternal House of Pancakes -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2 >Fraternal House of Pancakes</h2>
                                        <p> Have a hearty, homemade breakfast and prepare to join us for a day of paintballing. </p>
                                        <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                                    </div>
                                </div>

                                <!-- ###### Paintball -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Paintball</h2>
                                            <p>Light up the brothers of Phi Sig on one of the best paintball fields on the East Coast.</p>
                                            <span class="date"><b>10:00 AM - 3:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- ####### FIFA and Fisbee -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>FIFA and Frisbee</h2>
                                        <p> Too cool for paintball or just slept in? Challenge us to a Fifa tournament or toss a frisbee with some brothers. </p>
                                        <span class="date"><b>12:00 PM - 4:00 PM</b></span>
                                    </div>
                                </div>

                                <!-- ####### Back Bay BBQ -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Back Bay BBQ</h2>
                                        <p> Kick back and enjoy some juicy burgers, Phi Sig style. Feeling something different? Try some of our brothers' homemade pulled pork sandwiches. </p>
                                        <span class="date"><b>5:00 PM - 6:00 PM</b></span>
                                    </div>
                                </div>

                                <!-- ####### Mike's Pastries -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Mike's Pastries</h2>
                                        <p> Mmm... Cannoli. </p>
                                        <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                                    </div>
                                </div>

                                <!-- ####### Comedy Club -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Comedy Club</h2>
                                            <p> Phi Sigs love to hit the town. Join us as we laugh our asses off and show you a bit of Boston nightlife. </p>
                                            <span class="date"><b>6:30 PM - 9:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                        

                        <!-- ########## Schedule Timeline DAY 03 Starts ########### -->

                        <div role="tabpanel" class="tab-pane" id="monday">
                             <section class="timeline">

                                 <!-- ###### Fraternal House of Pancakes -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2 >Fraternal House of Pancakes</h2>
                                        <p> Have a hearty, homemade breakfast and prepare to join us for a day of paintballing. </p>
                                        <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                                    </div>
                                </div>

                                <!-- ###### Jetskiing -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Jetskiing</h2>
                                            <p>Spend a day jetskiing and hanging out at the beach with Phi Sig.</p>
                                            <span class="date"><b>10:00 AM - 4:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- ####### Rock Climbing -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Rock Climbing</h2>
                                        <p> Check out one of Boston's best gyms with terrain for beginners and experts alike. </p>
                                        <span class="date"><b>12:00 PM - 4:00 PM</b></span>
                                    </div>
                                </div>

           
                                <!-- ####### Steak and Lobster -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Steak and Lobster</h2>
                                            <p> Join us for two staples of the Phi Sig diet and a rush week classic.</p>
                                            <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- ####### Movie Night -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Movie Night with Phi Sig</h2>
                                        <p> Enjoy a movie on our extra-large projector and eat some popcorn.</p>
                                        <span class="date"><b>8:00 PM - 10:00 PM</b></span>
                                    </div>
                                </div>

                            </section>
                        </div>

                         <!-- ########## Schedule Timeline DAY 04 Starts ########### -->

                        <div role="tabpanel" class="tab-pane" id="tuesday">
                             <section class="timeline">

                                 <!-- ###### Fraternal House of Pancakes -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2 >Fraternal House of Pancakes</h2>
                                        <p> Have a hearty, homemade breakfast and prepare to join us for a day of paintballing. </p>
                                        <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                                    </div>
                                </div>

                                <!-- ###### Battle Canoeing -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Battle Canoe</h2>
                                            <p>A Phi Sig original. It starts off as a typical canoe trip, but all hell breaks loose once we round the first corner.</p>
                                            <span class="date"><b>10:00 AM - 4:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- ####### Iron Chef -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <div class="main-event">
                                            <h2 style="color:#353535;">Phi Sig Iron Chef</h2>
                                            <p> Come let our brother chefs show you some of their best recipes and finest cuisine at Phi Sig's Iron Chef. Past recipes have included slow-roasted pork and braised beef shank; come and see what we have in store this year!</p>
                                            <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>

                         <!-- ########## Schedule Timeline DAY 05 Starts ########### -->

                        <div role="tabpanel" class="tab-pane" id="wednesday">
                             <section class="timeline">

                                 <!-- ###### Lunch on Steps -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Lunch on the Steps</h2>
                                        <p> Have a hearty, homemade breakfast and prepare to join us for a day of paintballing. </p>
                                        <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                                    </div>
                                </div>

                                <!-- ###### Back Bay Banquet -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Back Bay Banquet</h2>
                                        <p> Good food from local Kenmore Square favorites. </p>
                                        <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                                    </div>
                                </div>

                                <!-- ###### Driving Range & Mini Golf -->

                                <div class="timeline-block">
                                    <div class="timeline-bullet" data-wow-delay="0s">
                                    </div>

                                    <div class="timeline-content">
                                        <h2>Driving Range & Mini Golf</h2>
                                        <p> Join us for miniature golf and driving range practice on the hallowed course known as the Augusta National of Lower Suffolk County, MA. </p>
                                        <span class="date"><b>7:30 PM - 9:30 PM</b></span>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </script>
        </div>
    </section>
        

    <!--
     About Us
     ====================================== -->
     <section id="about-us">

        <!-- WHY PHI SIG -->
        <div class="faq" id="history" >
            <div class="container">
                <div class="section-title">
                    <h3>About Phi Sig</h3>
                </div>

                <div class="row">
                    <div style="text-align: center;" class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <!-- <h6 class="faq-title">History</h6> -->
                        <p>
                            Phi Sig offers a change of pace from the rigors of MIT. We have some of the most driven students, athletes, and leaders the Institute has to offer. Located in the heart of Kenmore Square since 1902, Phi Sig is a pillar of the social scene for college students in Boston. An entrepreneurial culture gives brothers the opportunity and motivation to realize new interests and pursue well-established passions. Brothers go on to become leaders in their industries, start businesses, and further their studies in top graduate and medical schools. Since our founding in 1873, we firmly stand behind our cardinal principles of brotherhood, scholarship, and character.
                        </p>
                    </div>
                    <div style="text-align: center;" class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 center-block" style="text-align: center;">
                        <img src="img/1943_psk.jpg" width="100%" style="padding: 10px;">
                        Brothers on front steps circa 1943
                    </div>
                    <div class="col-md-6 center-block" style="text-align: center;">
                        <img src="img/all_bros_2018.jpg" width = "100%" style="padding: 10px;">
                        Brothers in front of bar in 2015
                    </div>   
                </div>
            </div>
        </div>
    

        <!-- BROTHERS -->
        <div class="brothers" id="brothers">
            <div class="container">
                <div class="section-title">
                    <h3>Who We Are</h3>
                </div>
                <div align="center" class="row"style="margin-top:-30px; padding-bottom: 45px;">
                    <div style='font-size: 20; text-align: center;' class="col-sm-3">
                    </div>
                    <div style='font-size: 20; text-align: center;' class="col-sm-6">
                        Our brothers are leaders, athletes, valedictorians, humanitarians, and party-starters. We come from many different places and will continue on very different paths, but when we're together we learn from each other and have a great time. Read below to learn more about the outstanding individuals that make up our brotherhood. 
                    </div>
                    <div style='font-size: 20; text-align: center;' class="col-sm-3">
                    </div>
                </div>
                
                <!-- CLASS LIST -->
                <div id="class-list" style="width:100%;">
                    <div class="panel-group" id='class-list-panel'>
                        <div class="panel panel-default">
                            <h3 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#class-list-panel" href="#seniors">Seniors</a>
                            </h3>
                            <div id='seniors' class="panel-collapse collapse in">
                                <div style="display: block; text-align:center; vertical-align: text-top">
                                    <brother-component *ngFor="let brother of seniors" [brother]="brother"></brother-component>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#class-list-panel" href="#juniors">Juniors</a>
                                </h3>
                            </div>
                            <div id='juniors' class="panel-collapse collapse">
                                <div style="display: block; text-align:center; vertical-align: text-top">
                                    <brother-component *ngFor="let brother of juniors" [brother]="brother"></brother-component>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#class-list-panel"  href="#sophomores">Sophomores</a>
                                </h3>
                            </div>
                            <div id='sophomores' class="panel-collapse collapse">
                                <div style="display: block; text-align:center; vertical-align: text-top">
                                    <brother-component *ngFor="let brother of sophomores" [brother]="brother"></brother-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- <div id="selected-bro" style="width:25%">
                    <div class='faq'>
                        Hello
                    </div>
                </div> -->

            </div> 
        </div>


        <!-- CULTURE -->
        <div class="faq" id="culture">
            <div class="container about-us">
                <div class='section-title'>
                    <h3>What We Do</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div style="text-align: center">
                            <img src="img/academics.jpg" width="100%" style="align-content: left;">
                            <h4>Academics</h4>

                        </div>
                        <p>
                            Academic excellence brought all of us to MIT, and while our classes can be very challenging, the brothers of Phi Sigma Kappa continue to achieve intellectually. The brothers of Phi Sig study hard and earn high marks. For the past several years we have been on the IFC Honor Roll, ranking in the top 6 out of the 25 fraternities at MIT. 
                        </p>
                        <p>
                            Phi Sigs bring their ideas and talents into industry and research. In the past year, our current brothers have interned at and accepted full-time offers from renowned companies including Apple, Facebook, SpaceX, Tesla, and Goldman Sachs. Many brothers have continued on to pursue graduate studies at esteemed programs like Stanford, Harvard, CalTech and MIT.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center">
                            <img src="img/old_football.jpg" width="100%" style="align-content: left;">
                            <h4>Athletics</h4>
                        </div>
                        <p>
                            Over three quarters of the brothers in Phi Sig played varsity sports in high school, and most of us continue to stay active through MIT varsity teams, club teams, IM sports, or just tossing a frisbee around in the park in front of our house. 
                        </p>
                        <p>
                            You'll find a ton of athletes throughout the house currently representing the soccer, lacrosse, track, and crew teams, amongst others. Phi Sig also fields teams in a bunch of IM sports like flag football, ice hockey, soccer, dodgeball, and water polo. 
                        </p>
                        <p>
                            For off-season training or just for staying in shape, we have a fully-loaded weight room in our basement, making it easy to get a quick lift in before dinner. Training for the Boston Marathon? Phi Sig is located just minutes away from Boston's best running trails along the Charles River or through the Fens. 
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center">
                            <img src="img/formal2015.jpg" width="100%" style="align-content: left;">
                            <h4>Social</h4>
                        </div>
                        <p>
                            Beyond the academic rigor, Phi Sigs like to live it up. Throughout the semester we host house parties with students from all over Boston, mixers with sororities, and classy formals to wrap up each semester. 
                        </p>
                        <p>
                            We also plan special events like our Iron Chef week, where our brothers cook five-star meals for friends and faculty, and our Marathon Day celebration sponsored by Red Bull where we grill and support the runners as they pass our house on the way to the finish line.
                        </p>
                        <p>
                            More than that, on any night you'll find Phi Sigs with their friends ready to kick-back and hang out. 
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
                

        <!-- HOUSE -->
        <!-- <div class="house" id="house">
            <div class="container">
                <div class="section-title">
                    <h3>Where We Live</h3>
                </div>
                <div align="center">
                    <img src="img/la1.jpg" height="200">
                    <img src="img/la2.jpg" height="200">
                    <img src="img/la3.jpg" height="200">
                </div>
            </div>
        </div> -->

    </section>
    <!-- end section.brothers -->


  
    <!--
     FAQ
     ====================================== -->

     <section id='gallery' class='faq'>
         
        <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" *ngFor="let path of gallery_paths" ></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" id="carousel-slides" style="text-align: center;">
            <div *ngFor="let path of gallery_paths" class="item">
                <div>
                    <img src={{path}}>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        </div>

     </section>



    <!-- end section.faq -->


    


    <!--
     Contact us
     ====================================== -->

    <div id='contact' class="highlight">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-box" style="text-align: right;">
                        
                        <h5>ADDRESS</h5>
                        <p><a href="http://maps.google.com/?q=487%20Commonwealth%20Ave%20Boston,%20MA%2002215">
                            <br>487 Commonwealth Ave
                            <br>Boston, MA 02215
                        </a></p>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="contact-box" style="text-align: left;">
                        <h5>CONTACT</h5>
                        <p>
                            Undergraduate officers: <!-- <a href="mailto:phisig@mit.edu">phisig@mit.edu</a> -->
                            <br> Chapter President: <a href="mailto:pskpres@mit.edu">pskpres@mit.edu</a>
                            <br> Rush Chair: <a href="mailto:pskrc@mit.edu">pskrc@mit.edu</a>
                            <br> Social Chair: <a href="mailto:psksc@mit.edu">psksc@mit.edu</a>
                            <br> 
                            <br>

                        </p>
                    </div>
                </div>
            </div>
            <!--  // end .row -->
        </div>
    </div>
    <!-- //  end .highlight -->

    <!-- Back to top floating button -->
    <a href="#top" class="back_to_top"><img src="img/back_to_top.png" width="50" height="50" alt="back to top"></a>


 

