<nav class="navbar navbar-default navbar-fixed-top reveal-menu js-reveal-menu reveal-menu-hidden">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><object data="img/ttt-transparent.svg" height="40px" style="vertical-align:middle;" type="image/svg+xml" ></object> Phi Sigma Kappa</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#rush">Rush</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#venue">Location</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
</nav>