<div class="faq" id="about-us" >
    <div class="container">
        <div class="section-title">
            <h3>About Phi Sig</h3>
        </div>

        <div class="row">
            <div style="text-align: center;" class="col-md-2">
            </div>
            <div class="col-md-8">
                <!-- <h6 class="faq-title">History</h6> -->
                <p>
                    Phi Sig offers a change of pace from the rigors of MIT. We have some of the most driven students, athletes, and leaders the Institute has to offer. Located in the heart of Kenmore Square since 1902, Phi Sig is a pillar of the social scene for college students in Boston. An entrepreneurial culture gives brothers the opportunity and motivation to realize new interests and pursue well-established passions. Brothers go on to become leaders in their industries, start businesses, and further their studies in top graduate and medical schools. Since our founding in 1873, we firmly stand behind our cardinal principles of brotherhood, scholarship, and character.
                </p>
            </div>
            <div style="text-align: center;" class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 center-block" style="text-align: center;">
                <img src="img/1943_psk.jpg" width="100%" style="padding: 10px;">
                Brothers on front steps circa 1943
            </div>
            <div class="col-md-6 center-block" style="text-align: center;">
                <img src="img/all_bros_2018.jpg" width = "100%" style="padding: 10px;">
                Brothers in front of bar in 2015
            </div>   
        </div>
    </div>
</div>