<div id='contact' class="highlight">
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <div class="contact-box" style="text-align: right;">
                    
                    <h5>ADDRESS</h5>
                    <p><a href="http://maps.google.com/?q=487%20Commonwealth%20Ave%20Boston,%20MA%2002215" target="_blank">
                        <br>487 Commonwealth Ave
                        <br>Boston, MA 02215
                    </a></p>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="contact-box" style="text-align: left;">
                    <h5>CONTACT</h5>
                    <p>
                        <b>Undergraduate officers:</b> <!-- <a href="mailto:phisig@mit.edu">phisig@mit.edu</a> -->
                        <br> Chapter President: <a href="mailto:pskpres@mit.edu">pskpres@mit.edu</a>
                        <br> Rush Chair: <a href="mailto:pskrc@mit.edu">pskrc@mit.edu</a>
                        <br> Social Chair: <a href="mailto:psksc@mit.edu">psksc@mit.edu</a>
                        <br> Summer Housing: <a href="mailto:summerhousing@mit.edu">summerhousing@mit.edu</a>
                        <br> 
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <!--  // end .row -->
    </div>
</div>