<div class="faq" id="activities">
    <div class="container about-us">
        <div class='section-title'>
            <h3>What We Do</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center">
                    <img src="img/academics.jpg" width="100%" style="align-content: left;">
                    <h4>Academics</h4>

                </div>
                <p>
                    Academic excellence brought all of us to MIT, and while our classes can be very challenging, the brothers of Phi Sigma Kappa continue to achieve intellectually. The brothers of Phi Sig study hard and earn high marks. For the past several years we have been on the IFC Honor Roll, ranking in the top 6 out of the 25 fraternities at MIT. 
                </p>
                <p>
                    Phi Sigs bring their ideas and talents into industry and research. In the past year, our current brothers have interned at and accepted full-time offers from renowned companies including Apple, Facebook, SpaceX, Tesla, and Goldman Sachs. Many brothers have continued on to pursue graduate studies at esteemed programs like Stanford, Harvard, CalTech and MIT.
                </p>
            </div>
            <div class="col-md-4">
                <div style="text-align: center">
                    <img src="img/old_football.jpg" width="100%" style="align-content: left;">
                    <h4>Athletics</h4>
                </div>
                <p>
                    Over three quarters of the brothers in Phi Sig played varsity sports in high school, and most of us continue to stay active through MIT varsity teams, club teams, IM sports, or just tossing a frisbee around in the park in front of our house. 
                </p>
                <p>
                    You'll find a ton of athletes throughout the house currently representing the soccer, lacrosse, track, and crew teams, amongst others. Phi Sig also fields teams in a bunch of IM sports like flag football, ice hockey, soccer, dodgeball, and water polo. 
                </p>
                <p>
                    For off-season training or just for staying in shape, we have a fully-loaded weight room in our basement, making it easy to get a quick lift in before dinner. Training for the Boston Marathon? Phi Sig is located just minutes away from Boston's best running trails along the Charles River or through the Fens. 
                </p>
            </div>
            <div class="col-md-4">
                <div style="text-align: center">
                    <img src="img/formal2015.jpg" width="100%" style="align-content: left;">
                    <h4>Social</h4>
                </div>
                <p>
                    Beyond the academic rigor, Phi Sigs like to live it up. Throughout the semester we host house parties with students from all over Boston, mixers with sororities, and classy formals to wrap up each semester. 
                </p>
                <p>
                    We also plan special events like our Iron Chef week, where our brothers cook five-star meals for friends and faculty, and our Marathon Day celebration sponsored by Red Bull where we grill and support the runners as they pass our house on the way to the finish line.
                </p>
                <p>
                    More than that, on any night you'll find Phi Sigs with their friends ready to kick-back and hang out. 
                    
                </p>
            </div>
        </div>
    </div>
</div>