<div class="rush" id="renting" >
	<link type="text/css" href="/css/themes/slideshow.css" rel="stylesheet"/>

    <div class="container">
        <div class="section-title" style="margin-top: 5vh; margin-bottom: 5vh;">
            <h3>Summer Renting</h3>
            <h4 style="color: #ffffff;"> Interested in renting a room for the summer? </h4>
            <h5 style="color: #ffffff;"> Email us at <a style="color: #c8c8c8;" href="mailto:summerhousing@mit.edu?subject=Summer%20Renting%20Request">summerhousing@mit.edu</a> for more details. </h5>
        </div>    

        <div class="css-slideshow"> 
        	<!-- Css designed for 8 slides -->
			<center>
			<figure> 
		    	<img src="/img/house/house1.JPG" width="80%" /> 
		  	</figure> 
		  	<figure> 
		   		 <img src="/img/house/house2.JPG" /> 
		  	</figure> 
		  	<figure> 
		   		 <img src="/img/house/house3.JPG"  /> 
		  	</figure> 
		  	<figure> 
		    	<img src="/img/house/house4.JPG" /> 
		  	</figure> 
		  	<figure> 
		    	<img src="/img/house/house1.JPG"  /> 
		  	</figure> 
		  	<figure> 
		   		 <img src="/img/house/house2.JPG" /> 
		  	</figure> 
		  	<figure> 
		   		 <img src="/img/house/house3.JPG" /> 
		  	</figure> 
		  	<figure> 
		    	<img src="/img/house/house4.JPG"  /> 
		  	</figure> 
		  </center>
		</div>
    </div>
</div>