    <!-- navbar -->
    <navbar>Loading...</navbar>    


    <!--
     Header Splash
     ====================================== -->
    <header id="top" class="header header_top-bg header-wrap" style="height:100%; min-height:500px;">
        <div style="height:100vh;min-height:550px; max-height:800px; vertical-align:center;">
            <object data="img/ttt-transparent.svg" style="height:50vw;min-height:50px;max-height:300px;" type="image/svg+xml" ></object>
            <h1 width="80%">Phi Sigma Kappa</h1>
            <h3> Massachusetts Institute of Technology </h3>
            <h3> Omicron Chapter </h3>
            <br>
            <!-- <a class="btn btn-red btn-lg" href="#rush">Rush Schedule</a> -->
            <a class="btn btn-red btn-lg" href="#history">Learn About Us</a>
            <a class="btn btn-red btn-lg" href="#renting">Summer Renting</a>
            <a class="btn btn-red btn-lg" href="#contact">Contact Us</a>
            
        </div>
    </header>


    <!--
     Rush
     ====================================== -->
    <!-- <rush></rush> -->
        

    <!--
     About Us
     ====================================== -->
     <section id="about-us">

        <!-- ABOUT US -->
        <div class="faq" id="history" >
            <div class="container">
                <div class="section-title">
                    <h3>About Phi Sig</h3>
                </div>

                <div class="row">
                    <div style="text-align: center;" class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <!-- <h6 class="faq-title">History</h6> -->
                        <p>
                            Phi Sig offers a change of pace from the rigors of MIT. We have some of the most driven students, athletes, and leaders the Institute has to offer. Located in the heart of Kenmore Square since 1902, Phi Sig is a pillar of the social scene for college students in Boston. An entrepreneurial culture gives brothers the opportunity and motivation to realize new interests and pursue well-established passions. Brothers go on to become leaders in their industries, start businesses, and further their studies in top graduate and medical schools. Since our founding in 1873, we firmly stand behind our cardinal principles of brotherhood, scholarship, and character.
                        </p>
                    </div>
                    <div style="text-align: center;" class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 center-block" style="text-align: center;">
                        <img src="img/1943_psk.jpg" width="100%" style="padding: 10px;">
                        Brothers on front steps circa 1943
                    </div>
                    <div class="col-md-6 center-block" style="text-align: center;">
                        <img src="img/all_bros_2018.jpg" width = "100%" style="padding: 10px;">
                        Brothers in front of bar in 2015
                    </div>   
                </div>
            </div>
        </div>
    

        <!-- BROTHERS -->
        <brothers></brothers>


        <!-- CULTURE -->
        <div class="faq" id="culture">
            <div class="container about-us">
                <div class='section-title'>
                    <h3>What We Do</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div style="text-align: center">
                            <img src="img/academics.jpg" width="100%" style="align-content: left;">
                            <h4>Academics</h4>

                        </div>
                        <p>
                            Academic excellence brought all of us to MIT, and while our classes can be very challenging, the brothers of Phi Sigma Kappa continue to achieve intellectually. The brothers of Phi Sig study hard and earn high marks. For the past several years we have been on the IFC Honor Roll, ranking in the top 6 out of the 25 fraternities at MIT. 
                        </p>
                        <p>
                            Phi Sigs bring their ideas and talents into industry and research. In the past year, our current brothers have interned at and accepted full-time offers from renowned companies including Apple, Facebook, SpaceX, Tesla, and Goldman Sachs. Many brothers have continued on to pursue graduate studies at esteemed programs like Stanford, Harvard, CalTech and MIT.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center">
                            <img src="img/old_football.jpg" width="100%" style="align-content: left;">
                            <h4>Athletics</h4>
                        </div>
                        <p>
                            Over three quarters of the brothers in Phi Sig played varsity sports in high school, and most of us continue to stay active through MIT varsity teams, club teams, IM sports, or just tossing a frisbee around in the park in front of our house. 
                        </p>
                        <p>
                            You'll find a ton of athletes throughout the house currently representing the soccer, lacrosse, track, and crew teams, amongst others. Phi Sig also fields teams in a bunch of IM sports like flag football, ice hockey, soccer, dodgeball, and water polo. 
                        </p>
                        <p>
                            For off-season training or just for staying in shape, we have a fully-loaded weight room in our basement, making it easy to get a quick lift in before dinner. Training for the Boston Marathon? Phi Sig is located just minutes away from Boston's best running trails along the Charles River or through the Fens. 
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center">
                            <img src="img/formal2015.jpg" width="100%" style="align-content: left;">
                            <h4>Social</h4>
                        </div>
                        <p>
                            Beyond the academic rigor, Phi Sigs like to live it up. Throughout the semester we host house parties with students from all over Boston, mixers with sororities, and classy formals to wrap up each semester. 
                        </p>
                        <p>
                            We also plan special events like our Iron Chef week, where our brothers cook five-star meals for friends and faculty, and our Marathon Day celebration sponsored by Red Bull where we grill and support the runners as they pass our house on the way to the finish line.
                        </p>
                        <p>
                            More than that, on any night you'll find Phi Sigs with their friends ready to kick-back and hang out. 
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class='faq' style="background-color: #0E4EAD; color: #ffffff">
        <div id='renting' class="container">
                <div class="section-title">
                    <h3>Renting</h3>
                    <h4 style="color: #ffffff;"> Information Coming Soon! </h4>
                    <h5 style="color: #ffffff;"><a href="mailto:pskpres@mit.edu">Email us</a> to find out more. </h5>
                </div>    
            </div>
    </section>

    <!--
     Contact us
     ====================================== -->

    <div id='contact' class="highlight">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-box" style="text-align: right;">
                        
                        <h5>ADDRESS</h5>
                        <p><a href="http://maps.google.com/?q=487%20Commonwealth%20Ave%20Boston,%20MA%2002215">
                            <br>487 Commonwealth Ave
                            <br>Boston, MA 02215
                        </a></p>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="contact-box" style="text-align: left;">
                        <h5>CONTACT</h5>
                        <p>
                            Undergraduate officers: <!-- <a href="mailto:phisig@mit.edu">phisig@mit.edu</a> -->
                            <br> Chapter President: <a href="mailto:pskpres@mit.edu">pskpres@mit.edu</a>
                            <br> Rush Chair: <a href="mailto:pskrc@mit.edu">pskrc@mit.edu</a>
                            <br> Social Chair: <a href="mailto:psksc@mit.edu">psksc@mit.edu</a>
                            <br> 
                            <br>

                        </p>
                    </div>
                </div>
            </div>
            <!--  // end .row -->
        </div>
    </div>
    <!-- //  end .highlight -->

    <!-- Back to top floating button -->
    <a href="#top" class="back_to_top"><img src="img/back_to_top.png" width="50" height="50" alt="back to top"></a>


 

