<!-- navbar -->
<navbar>Loading...</navbar>    

<!--
 Header Splash
 ====================================== -->
<header id="top" class="header header_top-bg header-wrap" style="height:100%; min-height:500px;">
    <div style="height:100vh;min-height:550px; max-height:800px; vertical-align:center;">
        <object data="img/ttt-transparent.svg" style="height:50vw;min-height:50px;max-height:300px;" type="image/svg+xml" ></object>
        <h1 width="80%">Phi Sigma Kappa</h1>
        <h3> Massachusetts Institute of Technology </h3>
        <h3> Omicron Chapter </h3>
        <br>

        <!-- <a class="btn btn-red btn-lg" href="#rush">Rush Schedule</a> -->
        <a class="btn btn-red btn-lg" href="#about-us">Learn About Us</a>
        <!-- <a class="btn btn-red btn-lg" href="#renting">Summer Renting</a> -->
        <a class="btn btn-red btn-lg" href="#contact">Contact Us</a>
    </div>
</header>


<!--
 Rush
 ====================================== -->
<!-- Uncomment this to turn rush on! -->
<!-- <rush></rush> -->
    

<!--
 Chapter
 ====================================== -->
<section id="chapter">

    <!-- ABOUT US -->
    <about-us></about-us>

    <!-- BROTHERS -->
    <brothers></brothers>

    <!-- CULTURE -->
    <culture></culture>

</section>

<!--
 House Tour / Renter Info
 ====================================== -->
<!-- <house></house> -->


<!--
 Contact us
 ====================================== -->
<contact-us></contact-us>


<!-- //  end .highlight -->

<!-- Back to top floating button -->`
<a href="#top" class="back_to_top"><img src="img/back_to_top.png" width="50" height="50" alt="back to top"></a>




