<section id="rush" >
<!-- red background -->
    <div class="rush">

        <!-- COUNTDOWN -->
        <!-- add/remove script tags to show this -->
            <div id="rush-countdown" class="container">
                 <div class="countdown_wrap" width="50vw">
                    <h2 class="countdown_title text-center section-title">RUSH</h2>
                    <div style="text-align: center;font-size:40px; padding-bottom: 40px;">Check back in on Saturday morning <br/> to see what we have planned!</div>
                </div>
            </div>


        <!-- SCHEDULE -->
        <!-- add/remove script tags to show this-->
        <script>
        <div class="container"  id="rush-schedule">
            <div class="section-title" style="margin-top:10px;">
                <h2>RUSH SCHEDULE</h2>
                
            </div>

            <div class="countdown_wrap" width="50vw">
                <div class="row" style="text-align: center;font-size:40px; padding-bottom: 40px;">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        Contact Frank at <b>978-882-1146</b> to get a van sent to pick you up from wherever you are
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>

            <div class="nav-center">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                    <li role="presentation" class="active"><a href="#saturday" aria-controls="tab" role="tab" data-toggle="tab">Saturday</a></li>
                    <li role="presentation"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="tab">Sunday</a></li>
                    <li role="presentation"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab">Monday</a></li>
                    <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
                    <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab">Wednesday</a></li>
                </ul>

            </div>

            <!-- Tab panes -->
            <div class="tab-content" width="50%">

                <!-- ########## Schedule Timeline DAY 01 Starts ########### -->

                <div role="tabpanel" class="tab-pane active" id="saturday">
                     <section class="timeline">

                         <!-- ###### House Tours -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2 >House Tours</h2>
                                <p> Come tour the historic Phi Sig house and grab a bite to eat in the heart of Kenmore Square. </p>
                                <span class="date"><b>12:30 PM - 5:00 PM</b></span>
                            </div>
                        </div>

                        <!-- ###### Beef Roast -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Beef Roast</h2>
                                <p>Save your appetite. We'll be spit-roasting 50 pounds of premium sirloin all afternoon over an open flame. Help us carve it up and enjoy this truly mouthwatering cut of meat.</p>
                                <span class="date"><b>12:30 PM - 5:00 PM</b></span>
                            </div>
                        </div>

                        <!-- ###### Steakhouse -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Phi Sig Steakhouse</h2>
                                <p>Come enjoy a juicy steak, fresh off the grill. Not hungry? Show us your PS4 skills or come toss a football with us until dark.</p>
                                <span class="date"><b>5:00 PM - 8:00 PM</b></span>
                            </div>
                        </div>

                        <!-- ####### Grafiti Party -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Phi Sig Presents: Philympus</h2>
                                    <p> This isn't for mere mortals. The gates of Mount Philympus are open with enough bass to make the gods envious. Come rage and dance the night away with the brothers of Phi Sig!.</p>
                                    <span class="date"><b>10:00 PM - 01:00 AM</b></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- ########## Schedule Timeline DAY 02 Starts ########### -->

                <div role="tabpanel" class="tab-pane" id="sunday">
                     <section class="timeline">

                         <!-- ###### Fraternal House of Pancakes -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2 >Fraternal House of Pancakes</h2>
                                <p> Have a hearty, homemade breakfast and prepare to join us for a day of paintballing. </p>
                                <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                            </div>
                        </div>

                        <!-- ###### Paintball -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Paintball</h2>
                                    <p>Light up the brothers of Phi Sig on one of the best paintball fields on the East Coast.</p>
                                    <span class="date"><b>10:00 AM - 3:00 PM</b></span>
                                </div>
                            </div>
                        </div>

                        <!-- ####### Rock Climbing -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Rock Climbing</h2>
                                <p> Check out one of Boston's best gyms with terrain for beginners and experts alike.  </p>
                                <span class="date"><b>12:00 PM - 3:00 PM</b></span>
                            </div>
                        </div>

                        <!-- ####### Back Bay BBQ -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Back Bay BBQ</h2>
                                <p> Kick back and enjoy some juicy burgers, Phi Sig style. Feeling something different? Try some of our brothers' homemade pulled pork sandwiches. </p>
                                <span class="date"><b>5:00 PM - 6:00 PM</b></span>
                            </div>
                        </div>

                        

                        <!-- ####### Comedy Club -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Comedy Club</h2>
                                    <p> Phi Sigs love to hit the town. Join us as we laugh our asses off and show you a bit of Boston nightlife. </p>
                                    <span class="date"><b>6:30 PM - 8:00 PM</b></span>
                                </div>
                            </div>
                        </div>

                        <!-- ####### Mike's Pastries -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Mike's Pastries</h2>
                                <p> Mmm... Cannoli. </p>
                                <span class="date"><b>8:00 PM - 10:00 PM</b></span>
                            </div>
                        </div>

                    </section>
                </div>
                

                <!-- ########## Schedule Timeline DAY 03 Starts ########### -->

                <div role="tabpanel" class="tab-pane" id="monday">
                     <section class="timeline">

                         <!-- ###### Fraternal House of Pancakes -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2 >Fraternal House of Pancakes</h2>
                                <p> Have a hearty, homemade breakfast and prepare to join us for a day at the beach. </p>
                                <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                            </div>
                        </div>

                        <!-- ###### Jetskiing -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Jetskiing</h2>
                                    <p>Spend a day jetskiing and hanging out at the beach with Phi Sig.</p>
                                    <span class="date"><b>10:00 AM - 4:00 PM</b></span>
                                </div>
                            </div>
                        </div>

                        <!-- ####### Skeet Shooting -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Skeet Shooting</h2>
                                <p> Too much fun in the sun? Show off your inner sharpshooter at the best range in the Boston area. No experience necessary; our brothers can make an expert marksman out of you!</p>
                                <span class="date"><b>12:00 PM - 3:00 PM</b></span>
                            </div>
                        </div>

   
                        <!-- ####### Steak and Lobster -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Steak and Lobster</h2>
                                    <p> Join us for two staples of the Phi Sig diet and a rush week classic.</p>
                                    <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                                </div>
                            </div>
                        </div>

                        <!-- ####### Movie Night -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Movie Night with Phi Sig</h2>
                                <p> Enjoy a movie on our extra-large projector and eat some popcorn.</p>
                                <span class="date"><b>8:00 PM - 10:00 PM</b></span>
                            </div>
                        </div>

                    </section>
                </div>

                 <!-- ########## Schedule Timeline DAY 04 Starts ########### -->

                <div role="tabpanel" class="tab-pane" id="tuesday">
                     <section class="timeline">

                         <!-- ###### Fraternal House of Pancakes -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2 >Fraternal House of Pancakes</h2>
                                <p> Have a hearty, homemade breakfast before the real swim test on the river...</p>
                                <span class="date"><b>9:00 AM - 10:00 AM</b></span>
                            </div>
                        </div>

                        <!-- ###### Battle Canoeing -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Battle Canoe</h2>
                                    <p>A Phi Sig original. It starts off as a typical canoe trip, but all hell breaks loose once we round the first corner.</p>
                                    <span class="date"><b>10:00 AM - 4:00 PM</b></span>
                                </div>
                            </div>
                        </div>

                        <!-- ####### Iron Chef -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <div class="main-event">
                                    <h2 style="color:#353535;">Phi Sig Iron Chef</h2>
                                    <p> Come let our brother chefs show you some of their best recipes and finest cuisine at Phi Sig's Iron Chef. Past recipes have included slow-roasted pork and braised beef shank; come and see what we have in store this year!</p>
                                    <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                 <!-- ########## Schedule Timeline DAY 05 Starts ########### -->

                <div role="tabpanel" class="tab-pane" id="wednesday">
                     <section class="timeline">

                         <!-- ###### Lunch on Steps -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Lunch on the Steps</h2>
                                <p> Enjoy the nice weather on the first day of classes, and grab some lunch with us on the student center steps.</p>
                                <span class="date"><b>12:00 PM - 2:00 PM</b></span>
                            </div>
                        </div>

                        <!-- ###### Back Bay Banquet -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Back Bay Banquet</h2>
                                <p> Good food from local Kenmore Square favorites. </p>
                                <span class="date"><b>6:00 PM - 8:00 PM</b></span>
                            </div>
                        </div>

                        <!-- ###### Driving Range & Mini Golf -->

                        <div class="timeline-block">
                            <div class="timeline-bullet" data-wow-delay="0s">
                            </div>

                            <div class="timeline-content">
                                <h2>Driving Range & Mini Golf</h2>
                                <p> Join us for miniature golf and driving range practice on the hallowed course known as the Augusta National of Lower Suffolk County, MA. </p>
                                <span class="date"><b>7:30 PM - 9:30 PM</b></span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        </script>
    </div>
</section>