.header .psk{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/kenmore.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}